#arrow {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
#arrow:hover {
  top: -10px;
}
.flexContainer
{
	display: flex;
	flex-direction: column;
}
.col-md-4
{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	width: 95%;
	padding-bottom: 15px;
	margin: auto;
}
.SelectButton
{
	margin-top:5px; 
	color: white; 
	background-color: darkblue; 
	text-align: right;
	float: right;
}